# Node.js
./node_modules
./package-lock.json
Frontend/node_modules
Frontend/package-lock.json

# Terraform State (Sensitive)
terraform.tfstate
terraform.tfstate.backup

# Terraform Lock File (Required for reproducibility)
.terraform.lock.hcl

# Terraform Local Directory (Generated)
.terraform*

# Terraform Variables (Sensitive)
terraform.tfvars

# Other
Backend/__pycache__/
BucketPolicy
